In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('vehicle_data.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_12732\723882454.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('vehicle_data.csv')

In [5]:
missing_values = df.isnull().sum()
print(missing_values)

Title                 0
Sub_title             0
Price                 0
Brand                 0
Model                 1
Edition           76433
Year                  0
Condition             0
Transmission          1
Body               5095
Fuel                  0
Capacity            205
Mileage               0
Location              0
Description       16174
Post_URL              0
Seller_name          98
Seller_type           0
Published_date        0
dtype: int64

In [7]:
df = df.dropna(subset=['Model'])

In [11]:
df = df.dropna(subset=['Capacity'])

In [21]:
df = df.dropna(subset=['Transmission'])

In [23]:
missing_values = df.isnull().sum()
print(missing_values)

Title                 0
Sub_title             0
Price                 0
Brand                 0
Model                 0
Edition           76227
Year                  0
Condition             0
Transmission          0
Body               5095
Fuel                  0
Capacity              0
Mileage               0
Location              0
Description       15968
Post_URL              0
Seller_name          98
Seller_type           0
Published_date        0
dtype: int64

In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('vehicle_data.csv', dtype=str)

# Clean and update the Price column
df['Price'] = pd.to_numeric(df['Price'].replace('[^0-9]', '', regex=True).replace('', np.nan), errors='coerce')

# Clean and update the Capacity column
df['Capacity'] = pd.to_numeric(df['Capacity'].replace('[^0-9]', '', regex=True).replace('', np.nan), errors='coerce')

# Clean and update the Mileage column
df['Mileage'] = pd.to_numeric(df['Mileage'].replace('[^0-9]', '', regex=True).replace('', np.nan), errors='coerce')

# Rename columns to the desired names
df.rename(columns={
    'Price': 'Price (Rs)',
    'Capacity': 'Capacity (cc)',
    'Mileage': 'Mileage (Km)'
}, inplace=True)

# Drop rows with NaN values in the renamed key columns
df.dropna(subset=['Price (Rs)', 'Capacity (cc)', 'Mileage (Km)'], inplace=True)

# Convert columns to integer type
df['Price (Rs)'] = df['Price (Rs)'].astype(int)
df['Capacity (cc)'] = df['Capacity (cc)'].astype(int)
df['Mileage (Km)'] = df['Mileage (Km)'].astype(int)

# Save the cleaned dataset
df.to_csv('cleaned_vehicle_data.csv', index=False)

# Display the first few rows to confirm the changes
print(df.head())

                                      Title  \
0         Honda Vezel Limited 2017 for sale
1      Jaguar XF Fully Loaded 2013 for sale
2  Toyota CHR GT New Face 2wd 2020 for sale
3           Toyota CHR Toyato 2017 for sale
4   Toyota Land Cruiser Prado 2015 for sale

                                           Sub_title  Price (Rs)   Brand  \
0  Posted on 01 Sep 2:45 pm, Kurunegala City, Kur...    12900000   Honda
1  Posted on 28 Sep 10:23 am, Kurunegala City, Ku...    16250000  Jaguar
2       Posted on 16 Sep 1:16 pm, Colombo 7, Colombo    17000000  Toyota
3      Posted on 30 Sep 10:12 am, Colombo 7, Colombo    13000000  Toyota
4        Posted on 30 Sep 9:50 pm, Kelaniya, Gampaha    33500000  Toyota

                Model          Edition  Year Condition Transmission  \
0               Vezel          Limited  2017      Used    Automatic
1                  XF     Fully Loaded  2013      Used    Automatic
2                 CHR  GT New Face 2wd  2020      Used    Automatic
3                 CHR           Toyato  2017      Used    Automatic
4  Land Cruiser Prado            prado  2015      Used    Automatic

        Body    Fuel  Capacity (cc)  Mileage (Km)  \
0  SUV / 4x4  Hybrid           1500         37000
1     Saloon  Diesel           2200         42000
2  SUV / 4x4  Petrol           1200         15000
3  SUV / 4x4  Petrol           1200         21000
4  SUV / 4x4  Petrol           2700         57000

                        Location  \
0   Kurunegala City,  Kurunegala
1   Kurunegala City,  Kurunegala
2            Colombo 7,  Colombo
3            Colombo 7,  Colombo
4             Kelaniya,  Gampaha

                                         Description  \
0  HONDA VEZEL LIMITEDCBE-XXXXMANU YEAR : 2017LIM...
1  1st owner(registered owner)Diesel(13-14km per ...
2  2020 Facelift modelFirst owner (No previous ow...
3  Toyota CHR GT Turbo1st owner Imported as a bra...
4  Toyota Land Cruiser Prado 20152 nd Owner for 5...

                                            Post_URL          Seller_name  \
0  https://ikman.lk/en/ad/honda-vezel-limited-201...   Prasad Enterprises
1  https://ikman.lk/en/ad/jaguar-xf-fully-loaded-...  Dhanushka Dharmasri
2  https://ikman.lk/en/ad/toyota-chr-gt-new-face-...        Carzone Lanka
3  https://ikman.lk/en/ad/toyota-chr-toyato-2017-...        Carzone Lanka
4  https://ikman.lk/en/ad/toyota-land-cruiser-pra...   Shine Music Center

      Seller_type   Published_date
0  Premium-Member   9/1/2022 14:45
1          Member  9/28/2022 10:23
2          Member  9/16/2022 13:16
3          Member  9/30/2022 10:12
4          Member  9/30/2022 21:50